@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outerContainer{
    font-family: 'Poppins';
    margin: 7px;
}

nav{
    margin: 0px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}
nav h1{
    font-size: 3rem;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(134, 133, 133);
    font-weight: bolder;    
}
table{
    padding: 10px;
    margin: 10px;
    border-collapse:collapse;
    border-width: 2px;
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.538);
}
th,td{
    padding: 10px 15px;
}
.Certi ul li
{
margin: 10px 0px 0px 45px;

}
.Other ul li
{
    margin: 5px;
    padding: 5px 0 0 40px;
    list-style: none;
}

